* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html,
body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    color: white;
}
#navbar{
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(65, 63, 63,0.6);
    padding: 15px 20px;
    position: fixed;
    z-index: 1;
}
#bar{
    border-radius: 5px;
    height: 30px;
}
#left{
    display: flex;
    align-items: center;
    gap: 30px;
}

#right{
    display: flex;
    align-items: center;
    gap: 30px;
}
h1{
    font-size: 17px;
    font-weight: 300;

}
#a{
    font-size: 24px;
}
#a1{
    background-color: rgb(80, 76, 76);
    padding: 6px 10px;
    padding-right: 80px;
    border-radius:40px;
}

#top img{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}
#liner-left{
    height: 600px;
    width: 100%;
    background:linear-gradient(77deg,rgba(0,0,0, 0.514),transparent 45%);
    position: absolute;
    top: 0%;
    /* right: 12%; */
}
#bottom{
    height: 100%;
    width: 100%;
    background:linear-gradient(360deg,rgba(0,0,0, 0.514),transparent 85%);
    position: absolute;
    top: 0%;
}
#titel{
    position: absolute;
    top: 55%;
    left: 5%;
    display: flex;
    gap: 250px;
}
#lefttitel{
    height: 250px;
    width: 500px;
    line-height: 1.4;
    z-index: -1;
}
#lefttitel h1{
    font-size: 50px;
}
#righttitel{
    height: 200px;
    width: 500px;
    display: flex;
    gap: 10px;
    margin-top: 2%;
}
#box1{
    height: 200px;
    width: 130px;
}
#box1 img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;    
}
#box2{
    height: 200px;
    width: 130px;
}
#box2 img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;    

}
#box3{
    height: 200px;
    width: 130px;
}
#box3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;    

}
#box4{
    height: 200px;
    width: 130px;
}
#box4 img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;    

}
#heading{
    position: absolute;
    top: 55%;
    left: 60%;
}
#heading p{
    font-weight: 500;
}
img:hover {
    scale: 0.94;
}
#content1{
    height: 340px;
    width: 100%;
    background-color: rgb(17, 17, 17);
    position: absolute;
    top: 100%;
    display: flex;
    /* align-items: center; */
    gap: 20px;
    padding: 100px 40px;
}
#content1 #card1{
    height: 200px;
    width: 150px;
}
#card1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;    

}
#content1 #card2{
    height: 200px;
    width: 150px;
}
#card2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;    
}
#content1 #card3{
    height: 200px;
    width: 150px;
}
#card3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;    

}
#content1 #card4{
    height: 200px;
    width: 150px;
}
#card4 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;    

}
#content1 #card5{
    height: 200px;
    width: 150px;
}
#card5 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;    

}
#content1 #card6{
    height: 200px;
    width: 150px;
}
#card6 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;    

}
#content1 #card7{
    height: 200px;
    width: 150px;
}
#card7 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;    

}
#content1 #card8{
    height: 200px;
    width: 150px;
}
#card8 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;    

}
#slider{
    width: 100%;
}
#slider h1{
    position: absolute;
     top: 100%;
    color: yellow;
    font-size: 30px;
    font-weight: 700;
    margin-left: 3%;
    z-index: 1;
} 
#slider h3{
    position: absolute;
    top: 108%;
    z-index: 1;
    margin-left: 3%;
    line-height: 1.3;
}
#slider h3 p{
    font-size: 11px;
    font-weight: 200;
    margin-left: 4%;
}
#content1 i{
    color: yellow;
}


